<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="Effort.EF6" version="2.2.10" targetFramework="net472" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net472" />
  <package id="FakeItEasy" version="6.2.1" targetFramework="net472" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net472" />
  <package id="NMemory" version="3.1.1" targetFramework="net472" />
  <package id="System.IO.Abstractions" version="12.2.25" targetFramework="net472" />
  <package id="System.IO.Abstractions.TestingHelpers" version="12.2.25" targetFramework="net472" />
</packages>